.container {
 max-width: 60%;
}

.pad-3 {
 padding: 3em;
}

.height-2 {
 height: 2em;
}

.height-5 {
 height: 5em;
}

.height-10 {
 height: 10em;
}

.height-30 {
 height: 30em;
}

.black {
 background-color: black;
}

.white {
 background-color: white;
}
